@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&family=Poppins:wght@400;500;600;700&family=Quicksand:wght@300;400;500;600;700&family=Raleway&family=Roboto:wght@100;400&family=Ysabeau+Infant:ital@1&display=swap');


body {
  margin: 0;
 font-family:'poppins', sans-serif;
 background: var(--bg);
 transition: all 3ms ease;
 color: var(--black);
 scroll-behavior: smooth;
}


